body {
    /* margin: 0; */
    background: grey;
}

.container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 70vh;
    position: absolute;
    top: 15%;
    left: 30%;
    padding: 20px;
    border: 5px solid black;
    background: rgba(255, 255, 255, 0.74);
    outline: 10px;
}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: black
}

.question{
    width: 500px;
    display: flex;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    background: grey;
    margin: 10px 10px;
    color: black
}

.answer{
    width: 500px;
    display: inline-block;
    padding: 15px 0 15px 20px;
    vertical-align: middle;
    font-size: 25px;
    background: grey;
    margin: 10px 10px 10px 10px;
    color: black
}


.answer:hover{
    background: grey;
    color: white;
}

.next-btn{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.74);
    width: 120px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    margin: 10px;

}

.next-btn:hover{
    background: grey;
    color: white;
}

.final-result{
    height: 120px;
    text-align: center;
    font-size: 100px;

}

.answer input:checked .answer{
    background: grey;
    color: white;
}

